QANTARA_SOURCE_DRIVER=mysql
QANTARA_SOURCE_HOST=127.0.0.1
QANTARA_SOURCE_PORT=3306
QANTARA_SOURCE_DATABASE=foodtech_local
QANTARA_SOURCE_USERNAME=
QANTARA_SOURCE_PASSWORD=

QANTARA_TARGET_DRIVER=postgres
QANTARA_TARGET_HOST=127.0.0.1
QANTARA_TARGET_PORT=5432
QANTARA_TARGET_DATABASE=foodtech_qantara_test
QANTARA_TARGET_USERNAME=
QANTARA_TARGET_PASSWORD=

QANTARA_BATCH_SIZE=1000
QANTARA_DRY_RUN=true
QANTARA_REPORT_DIR=storage/reports
